.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2f363d;
  padding: 10px 20px;
}

.nav-left,
.nav-right {
  display: flex;
  gap: 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.logout {
  color: #ff6b6b;
}
